chardet==4.0.0
dash==2.4.1
dash_bootstrap_components==1.1.0
iam-units==2021.11.12
jupyter==1.0.0
matplotlib==3.5.1
numpy==1.22.2
openpyxl==3.0.9
openscm-units==0.5.0
pandas==1.4.1
Pint-Pandas==0.2
Pint==0.18
pydantic==1.8.2
pygithub==1.55
Sphinx==3.0.3
sphinx-autoapi==1.8.4
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
xlrd==2.0.1
ipython==7.25.0