---
name: "Documentation"

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    name: "Build and Publish"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
    steps:

      - name: "Checkout Repository"
      - uses: actions/checkout@v3

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install Dependencies"
        run: |
          python -m pip install --upgrade pip
          if [ -f docs/requirements.txt ]; then pip install -r docs/requirements.txt; fi

      - name: "Build Documentation (Sphinx)"
        run: |
          tox -e docs

      - name: "Publish Documentation"
        if: success()
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          keep_files: true
